MONGO_CONNECTION_STRING=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
XAI_API_KEY=
XAI_BASE_URL=
PINECONE_API_KEY=
PINECONE_INDEX=
RIPESEED_DOC_INDEX_ID=
NEXT_PUBLIC_CALENDLY=
NEXT_PUBLIC_GA_ID=
